h1{
text-align: center;
}

h2{
    text-align: center;
    }

    .from{
        text-align: center;
        align-items: center;
        align-content: center;
    }
    body{
        background-color: tomato;
    }