
<html>
    <head>
        <title>Basic Node App</title>
        
    </head>
    <body>
        
   <h1>All Doctor View</h1>
    <% console.log(doctors) %>
    <ul>
        <% doctors.forEach((Profile)=> { %>
            <li><%= Profile.name %></li>
            <% }) %>
    </ul>
</ul>

</body>
</html>